* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}



#header {
    width: 100%;
    height: 100vh;
    background-color: #4F98CA;

    display: flex;
    align-items: center;
}

.container {
    padding: 10px 10%;

}

.container h2 {
    text-align: center;
    margin: 10% 0;
    color: #F4F9F9;
}

#nav_container {
    background-color: #4F98CA;
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav {
    display: flex;

    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #4F98CA;
}





nav>h1 {
    color: #F4F9F9;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #F4F9F9;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #F4F9F9;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-hero {


    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    flex-basis: 60%;
}

.header-text div {
    margin-top: 20%;
    font-size: 30px;

    color: #475053;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;

}

.header-text h1 span {
    color: #F4F9F9;
}

.header-text a {
    text-decoration: none;
    margin-left: 0px;
}

.header-img {
    flex-basis: 40%;
}

.header-img div {
    width: auto;
    height: auto;
    text-align: center;
}

.header-img img {
    width: 70%;

    border-radius: 20px;
    border: 10px solid #F4F9F9;

}

#about {
    height: auto;
    text-align: center;
    padding: 50px 0;


}

#about p {
    font-size: 24px;
    line-height: 36px;
}

.sub {
    font-size: 36px;
}



#skills {
    padding: 100px 0;
    background-color: #4F98CA;

}

#skills h1 {
    color: #F4F9F9;
}



.skill-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    margin-top: 20px;
    align-items: center;

}

.skill-list p {
    color: #F4F9F9;
}

.skill-list h2 {
    margin-top: 100px;
}

.skill-list div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.skill-list img {
    width: 50%;
}

#portfolio {
    padding-top: 100px;
    background-color: #F4F9F9;
}

#portfolio h1 {
    color: #475053;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work h3,
p {
    margin-top: 20px;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(255, 255, 255, 0.9), #4F98CA);
    border-radius: 10px;
    color: #475053;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;

}

.layer a {
    margin-top: 20px;
    color: #475053;
    text-decoration: none;
    font-size: 25px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.tech-stack i {
    font-size: 40px;
    padding-left: 20px;
}

.work:hover img {
    transform: scale(1.1);

}

.work:hover .layer {
    height: 100%;
}

#contact {
    background-color: #4F98CA;
    margin-top: 100px;
    margin-bottom: 0;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
    color: #F4F9F9;
}

.contact-left .sub {
    color: hsl(180, 29%, 97%);
}

.contact-left p i {
    color: #F4F9F9;
    margin-right: 15px;
    font-size: 25px;

}

.contact-left a {
    text-decoration: none;
    margin-left: 0;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #F4F9F9;
    display: inline-block;
    transition: transform 0.5s;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a:hover {

    transform: translateY(-5px);

}

.btn {
    display: block;
    margin: 10% auto;
    width: fit-content;
    padding: 14px 50px;
    border-radius: 6px;
    background-color: #F4F9F9;
    color: #4F98CA;
}

.contact-right form {
    width: 100%;
}

form {
    margin-top: 80px;
}

form input,
form textarea {
    width: 100%;
    border: 1px solid grey;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

form button {
    padding: 14px 6px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}

#msg {
    color: #F4F9F9;
    margin-top: -40px;
    display: block;
}

.work {
    text-align: center;
    line-height: 20px;
}




nav .hamburger {
    display: none;
    cursor: pointer;
}

.work_details {
    background-color: #4F98CA;
    color: #F4F9F9;
    padding: 10px;
}

.live_links {
    margin: 5%;
    display: flex;
}

.live_links i {
    font-size: 20px;
    color: #4F98CA;
}



/* CSS Media Queries */
@media screen and (min-width: 768px) {


    #about p {
        font-size: 30px;
        line-height: 50px;
    }

    .sub {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .header-text h1 {
        font-size: 40px;
    }

    .header-hero {
        flex-direction: column-reverse;

    }

    .btn {

        padding: 10px 20px;

    }


    .header-text p {


        font-size: 20px;
    }

    .nav_links {
        display: none;
    }

    nav .hamburger {
        display: block;

    }

    .skill-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .skill-list div {
        flex-direction: column;
        align-items: center;
    }

    .skill-list img {
        width: 70%;
        margin-bottom: 20px;
    }

    .skill-list h2 {
        margin-top: 40px;
    }
}

/* for screens smaller than 768px */
@media only screen and (max-width: 767px) {




    .row {
        flex-direction: column;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .contact-right form {
        margin-top: 50px;
    }

}

/* for screens larger than 768px */
@media only screen and (min-width: 768px) {

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-left {
        flex-basis: 35%;
    }

    .contact-right {
        flex-basis: 60%;
    }

    .contact-right form {
        width: 100%;
    }

}